<div class="navbar navbar-inverse">
  <p class="navbar-text">username</p>
  <div class="navbar-form">
    {{view Ember.TextField valueBinding="username"}} 
  </div>
  <p class="navbar-text">password</p>
  <div class="navbar-form">
    {{view Ember.TextField valueBinding="password"}} 
  </div>
  <button class="btn" {{action login}}>Login</button>
</div>

{{#if loggedIn}}
  <h1>You logged in!!</h1>
{{else}}
  <h1>Not logged in ):</h1>
  <h3>{{responseText}}</h3>
{{/if}}
{{outlet}}
