<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">

    <button class="btn btn-success pull-left" {{action tester}}>tester</button>

    {{#if loggedIn}}

    <p class="navbar-text pull-left">
      You logged in as {{loggedName}}
    </p>  

    <button class="btn btn-warning pull-left" {{action logout}}>logout</button>

    {{else}}

    <p class="navbar-text pull-left">username</p>
    <form class="navbar-form pull-left">
      {{view Ember.TextField valueBinding="username"}} 
    </form>

    <p class="navbar-text pull-left">password</p>
    <form class="navbar-form pull-left">
      {{view Ember.TextField type="password" valueBinding="password"}} 
    </form>
    
    <button class="btn btn-primary pull-left" {{action login}}>login</button>
    <button class="btn btn-warning pull-left" {{action create}}>create</button>

    <p class="navbar-text pull-left">{{responseText}}</p>

    {{/if}}
  
  </div>
</div>
